//Colors
$color-primary: #fff;
$color-secondary: #0c0c0c;
$color-tertiary: #757575;

//Padings
$padding-small: 2.5rem 0rem;
$padding-medium: 5rem 0rem;
$padding-large: 10rem 0rem;

//Fonts
$font-primary: 'Rubik', sans-serif;
$font-secondary: 'Cabin', sans-serif;

//Media queries
$small-device: 576px;
$medium-device: 768px;
$large-device: 992px;
$extra-large-device: 1200px;