.form {
    display: flex;
    @include start-col;
    width: 100%;
}

input[type="text"],
input[type="email"],
input[type="subject"] {
    background-color: transparent;
    border: none;;
    border-bottom: 2px solid #aaa;
    display: inline-block;
    color: $color-secondary;
    padding: 1.6rem 3.2rem;
    margin-bottom: 4rem;
    outline-width: 0;
    transition: all .3s ease;
    width: 100%;
    position: relative;
    overflow: hidden;
}

#textarea {
    background-color: transparent;
    border: none;
    border-bottom: 2px solid #aaa;
    color: $color-secondary;
    display: inline-block;
    font-family: $font-secondary;
    font-size: 1.6rem;
    height: 15rem;
    padding: 1.6rem 3.2rem;
    outline-width: 0;
    transition: all .3s ease;
    width: 100%; 
}

.input {
    //background-color: red;
    width: 100%;
    margin-bottom: 40px;
    position: relative;
    overflow: hidden;

    & label {
        position: absolute;
        left: 32px;
        bottom: 16px;
        transition: all .3s ease;
        font-size: 1.4rem;
        color: $color-tertiary;
    }

    & .border {
        position: absolute;
        left: 0;
        bottom: 0;
        height: 2px;
        width: 100%;
        background-color: $color-secondary;
        transform: translateX(-100%);
        transition: all .3s ease;
    }

    & #textarea {

        & ~ label {
            bottom: 125px;
        }

        & ~ .border {
            bottom: 5px;
        }

        &:focus ~ label {
            bottom: 175px;
        }

    }

    & input,
    & textarea {
        margin-bottom: 0;

        &:focus ~ .border {
            transform: translateX(0);
        }

        &:focus ~ label {
            bottom: 50px;
            opacity: 0;
        }
    }
}