.cta {
    background-color: $color-primary;
    border: 1px solid $color-secondary;
    color: $color-secondary;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 7.5rem;
    overflow: hidden;
    padding: 1.6rem 0rem;
    position: relative;
    text-decoration: none;
    transition: all .3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    width: 100%;
    z-index: 1;

    @media only screen and(min-width: $medium-device) {
        width: 35rem;
        padding: 1.6rem 3.2rem;
    }

    @media only screen and(min-width: $medium-device) {
        width: 35rem;
        padding: 2.5rem 0rem;
    }

    &::after {
        content: '';
        position: absolute;
        left: 0%;
        bottom: 0%;
        height: 100%;
        width: 100%;
        background-color: $color-secondary;
        transform: translateY(100%);
        transition: all .3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
        z-index: -1;
    }

    &:hover {
        color: $color-primary;
        &::after {
            transform: translateY(0%);
        }
    }
}

.btn {
    background-color: $color-secondary;
    color: $color-primary;
    border: 0;
    font-size: 1.6rem;
    font-weight: 400;
    outline-width: 0;
    padding: 1.6rem 0rem;
    text-transform: uppercase;
    width: 100%;
    transition: all .3s cubic-bezier(0.25, 0.46, 0.45, 0.94);

    @media only screen and(min-width: $medium-device) {
        width: 35rem;
        padding: 1.6rem 3.2rem;
    }

    @media only screen and(min-width: $large-device) {
        cursor: pointer;
        padding: 3.2rem 0rem;
    }

    &:hover {
        .fa-arrow-right {
            margin-left: 5rem;
        }
    }
}